<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mui/material@latest/umd/material-ui.production.min.css">
    <link rel="stylesheet" href="/app/static/index.css">
</head>
<body>
    <header>
        <h1 class="title">WardWise</h1>
    </header>
    <main class="content">
        <section>
            <h2>Hospitals:</h2>
            
            <ul class="c-list c-hospital-list">
                <li><strong>Hospital 1</strong></li>
                {% for hospital in hospitals %}
                <li class="task-item">
                    <strong>{{ hospital.name }}</strong>
                </li>
                {% endfor %}
            </ul>
        </section>
        <section>
            <h2>Task List</h2>
            
            <ul class="c-list">
                {% for task in tasks %}
                <li class="task-item">
                    <strong>{{ task.name }}</strong> - assigned to {{ task.assigned_user }}
                </li>
                {% endfor %}
            </ul>
        </section>
        <section>
            <h2>Task Manager</h2>
            
            <form action="/add-task" method="post" class="form">
                <div class="form-group">
                    <label for="task">Task Name:</label>
                    <input type="text" id="task" name="task_name" class="input" required>
                </div>

                <div class="form-group">
                    <label for="user">Assign to:</label>
                    <select id="user" name="assigned_user" class="select" required>
                        {% for user in users %}
                        <option value="{{ user }}">{{ user }}</option>
                        {% endfor %}
                    </select>
                </div>

                <button type="submit" class="mui-button">Add Task</button>
            </form>
        </section>
    </main>
</body>
</html>